
.table-styled {
  background-color: #63abea;
  border: 2px solid white;
  color: white;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Add margin for separation from the previous table */
}

.table-styled th, .table-styled td {
  padding: 15px;
  border: 1px solid white;
}

.action-cell {
  text-align: center;
}

.btn-success {
  background-color: #4caf50;
  color: white;
  border: 1px solid white;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-success:hover {
  background-color: #45a049; /* Darker green on hover */
}
